:root {
  --gradient-gray: linear-gradient(
    to bottom right,
    #e7eaf6,
    #a2a8d3,
    #38598b,
    #113f67
  );
  --gradient-orange: linear-gradient(
    to bottom left,
    #fda403,
    #e8751a,
    #c51350,
    #8a1253
  );
  --paragraph-day: #ff6680;
  --paragraph-night: #a2a8d3;
  --principal-header-day: #ff6680;
  --principal-header-night: #e7eaf6;
  --secondary-header-day: #38598b;
  --secondary-header-night: #38598b;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: var(--gradient-orange);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* FOOTER */
footer p {
  font-size: 1rem;
}
footer a {
  color: #61dafb;
  text-decoration: none;
}
footer a:hover {
  font-weight: bold;
}
.footer {
  padding: 20px;
}
