.temperature {
  font-size: 3rem;
}

.unit {
  font-size: 1rem;
  position: relative;
  line-height: 1;
  top: -1.3rem;
  margin-left: 0.25rem;
}

img {
  width: 10rem;
  height: auto;
  background-color: #0d6efd;
  border-radius: 5rem;
  margin: 0 1.2rem;
}

.WeatherData {
  font-size: 1.2rem;
}
