.ButtonSearch {
  min-height: 2rem;
  font-size: 1rem;
  margin: 1rem;
}
.Weather {
  border: solid 1px grey;
  border-radius: 2rem;
  display: block;
  margin: 0 auto;
  padding: 2rem;
}
.Weather ul {
  list-style: none;
}

.Weather input {
  width: 80%;
  margin: 0 auto;
}

.Weather h1 {
  padding: 1rem;
}
