.WeatherTemperature {
  margin-left: 1rem;
}
.WeatherTemperature .unit {
  font-weight: bold;
}

.WeatherTemperature .DegreesConverter {
  background: none;
  border: none;
}
.WeatherTemperature .DegreesConverter:hover {
  color: blueviolet;
  font-weight: bold;
}
